.summary-container{
    padding: 15px;
    background-color: #FFE0B3;
    border: 1px solid  #95A0A7;
    height: 100vh;
}
.summary-container h2{
    text-align: center;
}

.price-container {
    margin-top: 80px;
}

.order-controll-section{
    margin-top: 80px;
    display: flex;
    flex-direction: column;
}

.order-controll-section button{
    margin-top: 10px;
    padding: 10px;
    font-weight: bold;
    border-radius: 5px;
    border: 1px solid  #95A0A7;
    color: #ffffff;
    cursor: pointer;
}
.clear-btn{
    background-color: #FF3030;
}
.clear-btn:hover{
    background-color: #c00505;
}
.review-button{
    background-color: #FF9900;
}
.review-button:hover{
    background-color: #d37f02;;
}
.inside-btn{
    text-decoration: none;
}