.container {
    display: flex;
    align-items: center;
    justify-content: space-around;
    background-color: #1C2B35;
}
.left-container{
    font-size: 40px;
    color: tomato;
    cursor: pointer;
}

.right-container{
    display: flex;
    align-items: center;
    color: #ffffff;
}
.right-container a{
    text-decoration: none;
    color: #ffffff;
    padding: 15px 18px;
    cursor: pointer;
}
.right-container a:hover{
    color: orange;
}